{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %} 
{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h3>Password Reset Complete!</h3>
            
            <div class="col-sm-9 offset-sm-1 text-center">
                <h3>Password Changed Successfully!!</h3>
                <div><iframe src="https://giphy.com/embed/tf9jjMcO77YzV4YPwE" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
                
                </div>
            </div>
        </div>
    </div>
    {% endblock main-content %}